{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-add-organisation-%s-to-project")|format(organisation)) %}

<h1>{{ translate("txt-add-organisation-%s-to-project")|format(organisation) }} </h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-organisation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ organisation }}</p>
    </div>
</div>

{{ lbs5formelement(form.get('project')) }}
{{ lbs5formelement(form.get('branch')) }}
{{ contactformelement(form.get('contact')) }}


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('csrf')) }}
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
