{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-organisation-type")) %}

<h1>{{ translate("txt-edit-organisation-type") }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set type = form.get('organisation_entity_type') %}

{{ ztbformelement(type.get('id')) }}
{{ ztbformelement(type.get('type')) }}
{{ ztbformelement(type.get('description')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('csrf')) }}
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}

