{% include 'organisation/organisation/details/tabs' %}

<h2>{{ translate("txt-contact-list") }}</h2>

{% if not organisation.contactOrganisation.isEmpty() %}
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-id") }}</th>
            <th>{{ translate("txt-name") }}</th>
            <th>{{ translate("txt-email") }}</th>
            <th>{{ translate("txt-country") }}</th>
            <th>{{ translate("txt-projects") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="5"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for contactOrganisation in organisation.contactOrganisation %}
            {% set contact = contactOrganisation.contact %}

            <tr {% if not contact.isActive() %}class="table-danger"{% endif %}>
                <td><small class="text-muted">{{ contact.id }}</small></td>
                <td>{{ contactLink(contact, 'view-admin', 'name') }} {% if contact.dateEnd %}({{ translate("txt-expired-on-%s")|format(contact.dateEnd|date("d-m-Y")) }}){% endif %}{{ contactLink(contact, 'edit-admin', 'icon') }}</td>
                <td>{{ contact.email }} <a href="mailto:{{ contact.email }}"><i class="far fa-envelope"></i> </a></td>
                <td>{{ contact.contactOrganisation.organisation.country }}</td>
                <td>
                    <a href="{{ contactLink(contact,'view-project-admin','raw') }}">{{ projectService.findProjectParticipationByContact(contact)|length }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ lbs5alert().info(translate("txt-no-contact-found"))|raw }}
{% endif %}
