{% include 'organisation/organisation/details/tabs' %}

<h2>{{ translate("txt-project-ideas") }}</h2>

{% if organisation.ideaPartner.count() > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-idea-id") }}</th>
            <th>{{ translate("txt-idea-number") }}</th>
            <th>{{ translate("txt-idea") }}</th>
            <th>{{ translate("txt-tool") }}</th>
            <th>{{ translate("txt-date-created") }}</th>
            <th>{{ translate("txt-visibility") }}</th>
            <th>{{ translate("txt-description") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="7"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for ideaPartner in organisation.ideaPartner %}
            {% set idea = ideaPartner.idea %}
            <tr>
                <td><small class="text-muted">{{ idea.id }}</small></td>
                <td>{{ ideaLink(idea,'view-admin','name') }}</td>
                <td>{{ ideaLink(idea,'view-admin','title') }}</td>
                <td>{{ ideaToolLink(idea.tool,'view-admin','name') }}</td>
                <td>{{ ideaPartner.dateCreated|string_date }}</td>
                <td>{{ translate(ideaPartner.getVisibility(true)) }}</td>
                <td>{{ ideaPartner.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-this-organisation-has-no-project-ideas"))|raw }}
{% endif %}