{% include 'organisation/organisation/details/tabs' %}
<h2>{{ translate("txt-invoices") }}</h2>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{{ filterbarelement(form) }}

{% include('application/partial/form-badges') %}

<p class="text-muted">{{ translate("txt-%s-items-on-%s-pages")|format(paginator.adapter.count,paginator.pageRange) }}</p>

{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/details/invoices', 'id': organisation.id, 'criteria': 'invoice_nr', 'text': translate("txt-invoice")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/details/invoices', 'id': organisation.id, 'criteria': 'country', 'text': translate("txt-country")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/details/invoices', 'id': organisation.id, 'criteria': 'reference', 'text': translate("txt-reference")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/details/invoices', 'id': organisation.id, 'criteria': 'type', 'text': translate("txt-type")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/details/invoices', 'id': organisation.id, 'criteria': 'date-send', 'text': translate("txt-date-invoice")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/details/invoices', 'id': organisation.id, 'criteria': 'period', 'text': translate("txt-period")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/details/invoices', 'id': organisation.id, 'criteria': 'status', 'text': translate("txt-status")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/details/invoices', 'id': organisation.id, 'criteria': 'booking-total', 'text': translate("txt-amount-open")} %}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="7"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for result in paginator.getCurrentItems() %}
            <tr class="{% if result.fields.status_name == 'Paid' %}table-success{% endif %} {% if result.fields.status_name == 'Not Sent' %}table-warning{% endif %} {% if result.fields.status_name == 'Overdue' %}table-danger{% endif %}">
                <td>
                    <a title="{{ translate("txt-view-invoice-%s")|format(result.fields.invoice_nr) }}"
                       href="{{ url("zfcadmin/invoice/view",{'id':result.fields.invoice_id } ) }}">{{ result.fields.invoice_number }}</a>
                </td>
                <td>
                    <a href="{{ url('zfcadmin/invoice/list') }}?facet[organisation][]={{ result.fields.country }}"
                       title="{{ result.fields.country }}">{{ result.fields.country }}</a>
                </td>
                <td>
                    <a href="{{ url('zfcadmin/invoice/list') }}?facet[reference][]={{ result.fields.reference }}">{{ result.fields.reference }}</a>
                </td>
                <td>{{ result.fields.type }}</td>
                <td>{{ result.fields.date_sent|solr_date }}</td>
                <td>{{ result.fields.period_ordinal }}</td>
                <td>{{ result.fields.status_name }}</td>
                <td title="{{ translate("txt-invoice-total") }}: &euro; {{ result.fields.total }}">{% if result.fields.total < 0.1 %}
                        <i
                                class="fas fa-plus-circle" title="{{ translate("txt-credit-invoice") }}"></i>
                    {% endif %} {{ result.fields.booking_total|currency_decimal }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'application/partial/pagination-control' %}
{% else %}
    {{ ztbalert().info(translate("txt-no-invoice-found"))|raw }}
{% endif %}

{{ form().closeTag()|raw }}
