{% include 'organisation/organisation/details/tabs' %}

<h2>{{ translate("txt-project") }}</h2>

{% if not affiliations.isEmpty() %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-id") }}</th>
            <th>{{ translate("txt-project") }}</th>
            <th>{{ translate("txt-partner") }}</th>
            <th>{{ translate("txt-branch") }}</th>
            <th>{{ translate("txt-project-status") }}</th>
            <th>{{ translate("txt-active") }}</th>
            <th>{{ translate("txt-technical-contact") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="7"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for affiliation in affiliations %}
            <tr {% if affiliation.project.contact.id == affiliation.contact.id %}class="table-success"
                {% endif %}{% if not affiliation.isActive() %}class="table-danger"{% endif %}>
                <td><small class="text-muted">{{ affiliation.id }}</small></td>
                <td>{{ projectLink(affiliation.project,'view-admin','name') }}
                    {{ projectLink(affiliation.project,'view-community','icon') }}
                </td>
                <td>
                    {{ affiliationLink(affiliation,'view-admin','name') }}
                    {{ affiliationLink(affiliation,'view-community','icon') }}
                </td>
                <td>{{ affiliation.branch }}</td>
                <td>{{ projectService.parseStatus(affiliation.project) }}</td>
                <td>{% if not affiliation.isActive() %}{{ translate("txt-deactivated-on-%s")|format(affiliation.dateEnd|date('d-m-Y')) }}{% else %}{{ translate("txt-yes") }}{% endif %}</td>
                <td>{{ contactLink(affiliation.contact,'view-admin') }} {% if affiliation.project.contact.id == affiliation.contact.id %}({{ translate("txt-pl") }}){% endif %}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ lbs5alert().info(translate("txt-%s-is-not-active-in-a-project"))|format(organisation)|raw }}
{% endif %}

{{ organisationLink(organisation,'create-affiliation','button') }}

<h3 class="pt-3">{{ translate("txt-result-as-for-organisation") }}</h3>
{% if organisation.result.count() > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-id") }}</th>
            <th>{{ translate("txt-result") }}</th>
            <th>{{ translate("txt-contact") }}</th>
            <th>{{ translate("txt-type") }}</th>
            <th>{{ translate("txt-date") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="5"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for result in organisation.result %}
            <tr>
                <td><small class="text-muted">{{ result.id }}</small></td>
                <td>{{ resultLink(result,'view','name') }} {{ resultLink(result,'download','icon') }} {{ resultLink(result,'edit','icon') }}</td>
                <td>{{ contactLink(result.contact,'view-admin','name') }}</td>
                <td>{{ result.type }}</td>
                <td>{{ result.dateCreated|string_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ lbs5alert().info(translate("txt-no-results-has-been-created-for-%s")|format(organisation))|raw }}
{% endif %}
