<h1 id="title">
    {{ translate("txt-organisation-list") }}
    <div id="throbber"></div>
</h1>

<div class="row">
    <div class="col-sm-6">
        <p class="lead">{{ translate("txt-organisation-list-explanation") }}</p>
    </div>

    <div class="col-sm-6">
        {% do form.prepare() %}
        {{ form().openTag(form)|raw }}
        {{ formelement(form.get('search')) }}
        {{ form().closeTag()|raw }}
    </div>
</div>

<div id="organisation-list">
    {% if paginator.pageRange > 0 %}
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th>{{ translate("txt-organisation") }}</th>
                <th>{{ translate("txt-country") }}</th>
                <th>{{ translate("txt-type") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for organisation in paginator.getCurrentItems() %}
                <tr>
                    {% set organisationService = organisationServiceProxy(organisation) %}
                    <td>{{ organisationLink(organisationService,'view','name') }}</td>
                    <td>{{ countryLink(organisation.country,'view','name') }}</td>
                    <td>{{ organisation.type }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'organisation/partial/pagination-control.twig' with {'paginator': paginator} %}
    {% endif %}
</div>

<script type="text/javascript">
    $(function () {
        $("#search").keyup(function (e) {

            delay(function () {
                $.ajax({
                    url: 'organisation/search',
                    data: {
                        max_rows: 12,
                        search_item: $("#search").val()
                    },
                    success: function (data) {
                        $("#organisation-list").html(data);
                        $("#throbber").remove();
                    },
                    error: function (event, ui) {
                        alert("Search Failed");
                    }
                });
            }, 100);

        }).bind("paste", function (e) {
                    // have to do this so the DOM can catch up on mouse right-click paste
                    setTimeout(function () {
                        $.ajax({
                            url: 'organisation/search',
                            data: {
                                max_rows: 12,
                                search_item: $("#search").val()
                            },
                            success: function (data) {
                                $("#organisation-list").html(data);
                                $("#throbber").remove();
                            },
                            error: function (event, ui) {
                                alert("Search Failed");
                            }
                        });
                    }, 500);
                });
    });

    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();
</script>
