<div class="page-header">
    <h1>{{ translate("txt-organisation-list") }}</h1>
</div>

<table class="table table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>{{ translate("txt-organisation") }}</th>
        <th>{{ translate("txt-country") }}</th>
        <th>{{ translate("txt-type") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for organisation in organisations %}
        <tr>
            <td>{{ organisationLink(organisation,'view','name') }}</td>
            <td>{{ countryLink(organisation.organisation.country,'view','name') }}</td>
            <td>{{ organisation.organisation.type }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>