<div id="organisation-list">
    {% if paginator.pageRange > 0 %}
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th>{{ translate("txt-organisation") }}</th>
                <th>{{ translate("txt-country") }}</th>
                <th>{{ translate("txt-type") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for organisation in paginator.getCurrentItems() %}
                <tr>
                    {% set organisationService = organisationService.setOrganisationId(organisation['id']) %}
                    <td>{{ organisationLink(organisationService,'view','name') }}</td>
                    <td>{{ countryLink(organisationService.organisation.country,'view','name') }}</td>
                    <td>{{ organisationService.organisation.type }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'organisation/partial/pagination-control' with {'paginator': paginator} %}
    {% endif %}
</div>
