{% include 'organisation/parent/details/tabs' %}

<h2>{{ translate("txt-general-information") }}</h2>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-organisation") }}</dt>
    <dd>{{ organisationLink(parent.organisation,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-organisation-country") }}</dt>
    <dd>{{ parent.organisation.country }}</dd>
    <dt>{{ translate("txt-parent-type") }}</dt>
    <dd>{{ parentTypeLink(parent.type,'view','name') }}
        ({{ translate("txt-last-update-%s")|format(parent.dateparentTypeUpdate|date("d-m-Y")) }})
    </dd>
    <dt>{{ translate("txt-representative") }}</dt>
    <dd>{{ contactLink(parent.contact,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-member-type") }}</dt>
    <dd>{{ translate(parent.getMemberType(true)) }}</dd>
    <dt>{{ translate("txt-eposs-member-type") }}</dt>
    <dd>{{ translate(parent.getEpossMemberType(true)) }}</dd>
    <dt>{{ translate("txt-artemisia-member-type") }}</dt>
    <dd>{{ translate(parent.getArtemisiaMemberType(true)) }}</dd>
</dl>

<h2>{{ translate("txt-invoice-factors") }}</h2>
<dl class="dl-horizontal">
    {% for program in programs %}
        <dt>{{ program }}</dt>
        <dd>{{ parentService.parseInvoiceFactor(parent, program) }}%</dd>
    {% endfor %}
</dl>



{{ parentLink(parent, 'edit','button') }}