{% include 'organisation/parent/details/tabs' %}

<h2>{{ translate("txt-parent-organisations") }}</h2>

{% if parent.parentOrganisation.count() > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-id") }}</th>
            <th>{{ translate("txt-parent-organisation") }}</th>
            <th>{{ translate("txt-country") }}</th>
            <th>{{ translate("txt-type") }}</th>
            <th>{{ translate("txt-representative") }}</th>
            <th>{{ translate("txt-projects") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="6"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for parentOrganisation in parent.parentOrganisation %}
            <tr>
                <td><small class="text-muted">{{ parentOrganisation.id }}</small></td>
                <td>
                    {% if parentOrganisation.organisation.isParent() %}
                        {% if parentOrganisation.organisation.parent.id != parent.id %}
                            <span class="badge badge-danger"
                                  title="{{ translate("txt-recursive-parenting-here-organisation-has-parent-but-is-also-parent-itself") }}">{{ translate("txt-error") }}</span>
                        {% else %}
                            <span class="badge badge-success">{{ translate("txt-self") }}</span>
                        {% endif %}

                        <span class="badge badge-info">{{ translate("txt-parent") }}</span>

                    {% endif %}
                    {{ parentOrganisationLink(parentOrganisation,'view','organisation') }} {{ parentOrganisationLink(parentOrganisation,'edit','icon') }}
                </td>
                <td>{{ countryLink(parentOrganisation.organisation.country,'view-admin', 'iso3') }}</td>
                <td>{{ organisationTypeLink(parentOrganisation.organisation.type, 'view', 'name') }}</td>
                <td>{{ contactLink(parentOrganisation.contact,'view-admin','name') }}</td>
                <td>{{ parentOrganisation.affiliation.count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-this-parent-%s-has-no-organisations")|format(parent))|raw }}
{% endif %}

 {{ parentLink(parent, 'add-organisation','button') }}

{% if parent.parentOrganisation.count() > 1 %}{{ parentOrganisationLink(parent.parentOrganisation.first, 'merge','button') }}{% endif %}