<h3>{{ translate("txt-status-of-%s-extra-variable-contribution-for-%s-projects-due-by-%s-at-%s")|format(year, 'ECSEL',parent, "now"|date("d-m-Y")) }}</h3>


{% for project in projects %}
    {# Take the latest version to calculate the contribution of the affiliation#}
    {% set version = projectService.getLatestProjectVersion(project, null, null, false, false) %}

    <h4>{{ project.call }} {{ project }}</h4>

    <table border="1" cellpadding="2">
        <thead>
        <tr>
            <th>{{ translate("txt-name-of-free-rider") }}</th>
            <th>{{ translate("txt-country") }}</th>
            <th><span class="pull-right">{{ translate("txt-maximum-eligible-funding") }}</span></th>
        </tr>
        </thead>

        <tbody>
        {% for affiliation in affiliationService.findAffiliationByProjectAndWhichAndType(project, constant("Affiliation\\Service\\AffiliationService::WHICH_ONLY_ACTIVE"), constant("Parent\\Service\\AffiliationService::TYPE_FEE_RIDERS") ) %}
            <tr>
                <td>{{ affiliation.organisation.parent.organisation }}</td>
                <td>{{ affiliation.organisation.parent.organisation.country }}</td>
                <td>
                    <span class="pull-right">{{ versionService.findTotalFundingVersionByAffiliationAndVersion(affiliation, version)|parse_funding }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">{{ translate("txt-total-eligible-funding-by-free-riders-for-project") }}</th>
            <th>
                <span class="pull-right">{{ versionService.findTotalFundingVersionByFreeRidersInVersion(version)|parse_funding }}</span>
            </th>
        </tr>
        <tr>
            <th colspan="2">{{ translate("txt-total-eligible-funding-by-parent-%s")|format(parent) }}</th>
            <th>
                <span class="pull-right">{{ versionService.findTotalFundingVersionByParentAndVersion(parent, version)|parse_funding }}</span>
            </th>
        </tr>
        <tr>
            <th colspan="2">{{ translate("txt-total-eligible-funding-c-chambers-for-project") }}</th>
            <th>
                <span class="pull-right">{{ versionService.findTotalFundingVersionByCChambersInVersion(version)|parse_funding }}</span>
            </th>
        </tr>
        <tr>
            <th colspan="2">{{ translate("txt-extra-variable-contribution-for-project") }}</th>
            <th>
                <span class="pull-right">{{ parentService.parseExtraVariableBalanceByParentAndVersion(parent, version)|parse_funding }}</span>
            </th>
        </tr>
        </tfoot>
    </table>
    <hr>
{% endfor %}

<h3>{{ translate("txt-details-of-total-additional-invoice-to-be-expected-by-%s-half-year-%s")|format(period + 1, year) }}</h3>

<table border="1" cellpadding="2">
    <thead>
    <tr>
        <th>{{ translate("txt-project-name") }}</th>
        <th>{{ translate("txt-parent-name") }}</th>
        <th><span class="pull-right">{{ translate("txt-maximum-eligible-funding") }}</span></th>
    </tr>
    </thead>

    <tbody>
    {% for project in projects %}

        {# Take the latest version to calculate the contribution of the affiliation#}
        {% set version = projectService.getLatestProjectVersion(project, null, null, false, false) %}

        <tr>
            <td>{{ project }}</td>
            <td>{{ parent }}</td>
            <td>
                <span class="pull-right">{{ parentService.parseExtraVariableBalanceByParentAndVersion(parent, version)|parse_funding }}</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="2">{{ translate("txt-total-extra-%s-contribution-in-year-%s")|format(parent, year) }}</th>
        <th>
            <span class="pull-right">{{ parentService.parseTotalExtraVariableBalanceByParent(parent)|parse_funding }}</span>
        </th>
    </tr>
    </tfoot>
</table>