<style>
    table.table > tr > th {
        background-color: #ffffcc;
        font-weight: bold;
    }

    .footer > th {
        border-top: 1px solid #0066cc;
    }

    .header > th {
        border-bottom: 1px solid #0066cc;
    }
</style>

<strong>{{ translate("txt-status-of-extra-variable-contribution-for-ecsel-projects-due-by-%s")|format(parent) }}</strong>


{% for project in projects %}
    {# Take the latest version to calculate the contribution of the affiliation#}
    {% set version = projectService.getLatestProjectVersion(project, null, null, false, false) %}

    {% if version and parentService.hasExtraVariableBalanceByParentAndVersion(parent, version) %}

        <p><strong>{{ project.call }} {{ project }}</strong></p>

        <table class="table" width="545" cellpadding="1">
            <tr class="header">
                <th align="left" width="350">{{ translate("txt-name-of-free-rider") }}</th>
                <th align="left" width="45">{{ translate("txt-country") }}</th>
                <th align="right" width="150">{{ translate("txt-maximum-eligible-funding") }}</th>
            </tr>
            {% for affiliation in affiliationService.findAffiliationByProjectAndWhichAndCriterion(project, constant("Organisation\\Entity\\OParent::CRITERION_FREE_RIDER"), constant("Affiliation\\Service\\AffiliationService::WHICH_ONLY_ACTIVE") ) %}
                <tr>
                    <td align="left" width="350">{{ affiliation.parentOrganisation.parent.organisation }}</td>
                    <td align="left">{{ affiliation.parentOrganisation.parent.organisation.country.iso3 }}</td>
                    <td align="right"
                        width="150">{{ versionService.findTotalFundingVersionByAffiliationAndVersion(affiliation, version)|parse_funding }}</td>
                </tr>
            {% endfor %}
            <tr class="footer">
                <th align="left"
                    colspan="2">{{ translate("txt-total-eligible-funding-by-free-riders-for-project") }}</th>
                <th align="right" width="150">
                    {{ versionService.findTotalFundingVersionByFreeRidersInVersion(version)|parse_funding }}
                </th>
            </tr>
            <tr>
                <th align="left"
                    colspan="2">{{ translate("txt-total-eligible-funding-by-parent-%s")|format(parent) }}</th>
                <th align="right"
                    width="150">{{ versionService.findTotalFundingVersionByParentAndVersion(parent, version)|parse_funding }}</th>
            </tr>
            <tr>
                <th align="left" colspan="2">{{ translate("txt-total-eligible-funding-c-chambers-for-project") }}</th>
                <th align="right"
                    width="150">{{ versionService.findTotalFundingVersionByCChambersInVersion(version)|parse_funding }}</th>
            </tr>
            <tr>
                <th align="left" colspan="2">{{ translate("txt-extra-variable-contribution-for-project") }}</th>
                <th align="right"
                    width="150">{{ parentService.parseExtraVariableBalanceByParentAndVersion(parent, version)|parse_funding }}</th>
            </tr>
        </table>
        <p></p>
    {% endif %}
{% endfor %}

<br pagebreak="true"/>
<strong>{{ translate("txt-details-of-total-additional-invoice-to-be-expected-by-second-half-year-%s")|format(year) }}</strong>
<br><br>

<table class="table" width="545" cellpadding="1">
    <tr class="header">
        <th>{{ translate("txt-project-name") }}</th>
        <th>{{ translate("txt-parent-name") }}</th>
        <th align="right">{{ translate("txt-maximum-eligible-funding") }}</th>
    </tr>
    {% for project in projects %}

        {# Take the latest version to calculate the contribution of the affiliation#}
        {% set version = projectService.getLatestProjectVersion(project, null, null, false, false) %}

        {% if version and parentService.hasExtraVariableBalanceByParentAndVersion(parent, version) %}

            <tr>
                <td align="left">{{ project }}</td>
                <td>{{ parent }}</td>
                <td align="right">{{ parentService.parseExtraVariableBalanceByParentAndVersion(parent, version)|parse_funding }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr class="footer">
        <th colspan="2">{{ translate("txt-total-extra-%s-contribution-in-year-%s")|format(parent, year) }}</th>
        <th align="right">{{ parentService.parseTotalExtraVariableBalanceByParent(parent)|parse_funding }}</th>
    </tr>
</table>
<p></p>
<center>
    <img width="550px" src="/var/www/dev1/styles/aeneas/img/aeneas-invoice-formula.png">
</center>