<h1>{{ organisationService.organisation }}</h1>


<div class="pull-right">
    {{ organisationLogo(organisationService) }}
</div>

{% if organisationService.organisation.description %}
    <h3>{{ translate("txt-description") }}</h3>
    {{ organisationService.organisation.description|raw }}
{% endif %}

<h3>{{ translate("txt-cluster-membership") }}</h3>
{% for cluster in organisationService.organisation.clusterMember %}
    {{ cluster.organisation }}
{% else %}
    {{ translate("txt-organisation-%s-is-not-active-in-a-cluster")|format(organisationService.organisation) }}
{% endfor %}