<div class="row">
    <div class="col-md-12">
        <h3>{{ translate("txt-organisation-information") }}</h3>
        <dl class="project dl-horizontal">
            <dt>{{ translate("txt-type") }}</dt>
            <dd>{{ organisation.type }}</dd>
            <dt>{{ translate("txt-country") }}</dt>
            <dd>{{ countryFlag(organisation.country, 15) }}
                {{ countryLink(organisation.country,'view', 'name') }}</dd>
            <dt>{{ translate("txt-website") }}</dt>
            {% for web in organisation.web %}
                <dd>{{ web|raw }}</dd>
            {% endfor %}
        </dl>

        {% if organisation.description %}
            <h3>{{ translate("txt-organisation-description") }}</h3>
            <p>{{ organisation.description|raw }}</p>
        {% endif %}

        {% if organisation.clusterMember.count > 0 %}
            <h3>{{ translate("txt-cluster-membership") }}</h3>
            {% for cluster in organisation.clusterMember %}
                <p>{{ cluster.organisation }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
