<div class="pull-right">
    {{ organisationLogo(organisation, null, false, 200) }}
</div>

<h1 class="display-4">{{ organisation }}</h1>

{% if organisation.description %}
    <h3>{{ translate("txt-description") }}</h3>
    {{ organisation.description|raw }}
{% endif %}

{% if organisation.clusterMember.count > 0 %}
    <h3>{{ translate("txt-cluster-membership") }}</h3>
    {% for cluster in organisation.clusterMember %}
        {{ cluster.organisation }}
    {% endfor %}
{% endif %}
