<div class="well well-itea">
    <h2>{{ translate("txt-organisation-information") }}</h2>
    <dl class="dl-horizontal dl-horizontal-narrow">
        <dt>{{ translate("txt-type") }}</dt>
        <dd>{{ organisation.type }}</dd>
        <dt>{{ translate("txt-country") }}</dt>
        <dd>{{ countryFlag(organisation.country, 15) }}
            {{ countryLink(organisation.country,'view', 'name') }}</dd>
        <dt>{{ translate("txt-website") }}</dt>
        {% for web in organisation.web if web.isMain() %}
            <dd><a href="{{ web }}">{{ web }}</a></dd>
        {% endfor %}
    </dl>
</div>
