    <div class="row">
        <div class="col-md-5">
            <h3>{{ translate("txt-organisation-information") }}</h3>
            <dl class="project">
                <dt>{{ translate("txt-type") }}</dt>
                <dd>{{ organisationService.organisation.type }}</dd>
                <dt>{{ translate("txt-country") }}</dt>
                <dd>{{ countryFlag(organisationService.organisation.country, 15) }}
                    {{ countryLink(organisationService.organisation.country,'view', 'name') }}</dd>
                <dt>{{ translate("txt-website") }}</dt>
                {% for web in organisationService.organisation.web %}
                    <dd>{{ web|raw }}</dd>
                {% endfor %}
            </dl>
            {% if organisationService.organisation.clusterMember.count > 0 %}
                <h3>{{ translate("txt-cluster-membership") }}</h3>
                {% for cluster in organisationService.organisation.clusterMember %}
                    {{ cluster.organisation }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-7">
            <div class="pull-left">
                <div class="thumbnail project-image">
                    <span id="helper" style="display:inline-block;height: 33%; vertical-align: middle; "></span>
                    {{ organisationLogo(organisationService) }}
                </div>
            </div>
        </div>
    </div>
