{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-add-parent-organisation-%s-to-project")|format(organisation)) %}

<h1>{{ translate("txt-add-partner-organisation-%s-to-project")|format(organisation) }} </h1>


{% do form.prepare() %}

{% do form.setAttribute('action','') %}

{{ form().openTag(form)|raw }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-partner") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ parentLink(organisation.parent,'view', 'parent') }}</p>
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-organisation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ parentOrganisationLink(organisation,'view', 'organisation') }}</p>
    </div>
</div>

{{ ztbformelement(form.get('project')) }}
{{ ztbformelement(form.get('branch')) }}
{{ ztbformelement(form.get('contact')) }}


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
