{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-merge-organiations-in-parent")) %}

<h1>{{ translate("txt-merge-organiations-in-parent") }}</h1>

<h2>{{ translate("txt-parent-information") }}</h2>

{% if parentOrganisation.organisation.isParent() %}
    {% if parentOrganisation.organisation.parent.id != parentOrganisation.parent.id %}
        {{ lbs5alert().danger(translate("txt-recursive-parenting-here-organisation-has-parent-but-is-also-parent-itself"))|raw }}
    {% else %}
        {{ lbs5alert().info(translate("txt-this-is-the-parent-itself"))|raw }}
    {% endif %}
{% endif %}

<h3 class="h4">{{ translate("txt-organisation-in-parent-information") }}</h3>
<dl class="dl-horizontal">
    <dt>{{ translate("txt-parent-organisation") }}</dt>
    <dd>{{ organisationLink(parentOrganisation.organisation,'view-admin','name') }}</dd>

    {% if parentOrganisation.organisation.isParent() and parentOrganisation.organisation.parent.id != parentOrganisation.parent.id %}
        <dt class="text-danger">{{ translate("txt-parent") }}</dt>
        <dd>{{ parentLink(parentOrganisation.organisation.parent,'view','name') }}</dd>
        <dd class="text-danger">{{ translate("txt-this-parent-should-be-the-same-as-the-parent-below") }}</dd>
    {% endif %}


    <dt>{{ translate("txt-parent-organisation-country") }}</dt>
    <dd>{{ countryLink(parentOrganisation.organisation.country,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-representative") }}</dt>
    <dd>{{ contactLink(parentOrganisation.contact,'view-admin','name') }}</dd>
</dl>

<h3 class="h4">{{ translate("txt-parent-information") }}</h3>
<dl class="dl-horizontal">
    <dt>{{ translate("txt-parent-name") }}</dt>
    <dd>{{ parentLink(parentOrganisation.parent,'view','parent') }}</dd>
    <dt>{{ translate("txt-parent-country") }}</dt>
    <dd>{{ countryLink(parentOrganisation.parent.organisation.country,'view-admin') }}</dd>
    <dt>{{ translate("txt-parent-type") }}</dt>
    <dd>{{ translate(parentOrganisation.parent.getMemberType(true)) }}</dd>
</dl>

<h2>{{ translate("txt-merge-parent-organisation") }}</h2>

<form method="post" action="">
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-id") }}</th>
            <th></th>
            <th>{{ translate("txt-parent-organisation") }}</th>
            <th>{{ translate("txt-country") }}</th>
            <th>{{ translate("txt-type") }}</th>
            <th>{{ translate("txt-representative") }}</th>
            <th>{{ translate("txt-projects") }}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-success">
            <td><small class="text-muted">{{ parentOrganisation.id }}</small></td>
            <td>
                {% if merge %}
                    {{ translate("txt-main") }}:
                {% endif %}
            </td>
            <td>{{ parentOrganisationLink(parentOrganisation,'view','organisation') }} {{ parentOrganisationLink(parentOrganisation,'edit','icon') }}</td>
            <td>{{ countryLink(parentOrganisation.organisation.country,'view-admin', 'name') }}</td>
            <td>{{ organisationTypeLink(parentOrganisation.organisation.type,'view', 'name') }}</td>
            <td>{{ contactLink(parentOrganisation.contact,'view-admin','name') }}</td>
            <td>{{ parentOrganisation.affiliation.count() }}</td>
        </tr>
        {% for otherOrganisation in parentOrganisation.parent.parentOrganisation|filter(otherOrganisation => parentOrganisation.id != otherOrganisation.id) -%}
            <tr {% if otherOrganisation.id == merge %}class="table-info"{% endif %}>
                <td><small class="text-muted">{{ otherOrganisation.id }}</small></td>
                <td>
                    {% if merge != otherOrganisation.id %}
                        <input type="radio" name="merge" value="{{ otherOrganisation.id }}">
                    {% else %}
                        <input type="hidden" name="merge" value="{{ otherOrganisation.id }}">
                        {{ translate("txt-sub") }}:
                    {% endif %}
                </td>
                <td>{{ parentOrganisationLink(otherOrganisation,'merge','organisation') }}</td>
                <td>{{ countryLink(otherOrganisation.organisation.country,'view-admin', 'name') }}</td>
                <td>{{ organisationTypeLink(otherOrganisation.organisation.type,'view', 'name') }}</td>
                <td>{{ contactLink(otherOrganisation.contact,'view-admin','name') }}</td>
                <td>{{ otherOrganisation.affiliation.count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="submit" name="select" class="btn btn-info" value="{{ translate("txt-select") }}">
    {% if merge %}
        <input type="submit" name="submit" class="btn btn-success " value="{{ translate("txt-merge") }}">
    {% endif %}
</form>