{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-financial-parent-%s")|format(parent)) %}

<h1>{{ translate("txt-edit-financial-parent-%s")|format(parent) }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-parent") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ parentLink(parent,'view', 'parent') }} ({{ parent.organisation.country }})</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-parent-type") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ parent.type }}</p>
    </div>
</div>

<fieldset>
    <legend>{{ translate("txt-financial-organisation") }}</legend>
    {{ ztbformelement(form.get('organisationFinancial')) }}
    {{ ztbformelement(form.get('branch')) }}
    {{ ztbformelement(form.get('contact')) }}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-billing-address") }}</legend>

    {{ ztbformelement(form.get('omitContact')) }}
    {{ ztbformelement(form.get('address')) }}
    {{ ztbformelement(form.get('zipCode')) }}
    {{ ztbformelement(form.get('city')) }}
    {{ ztbformelement(form.get('country')) }}
</fieldset>


{{ ztbformelement(form.get('preferredDelivery')) }}

<hr>

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('delete')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    $('select[name="contact"]').change(function () {
        $.ajax({
            url: '{{ url('community/contact/get-address-by-type') }}',
            type: 'get',
            dataType: 'json',
            data: {
                'id': $('select[name="contact"]').val(),
                'typeId': {{ constant("Contact\\Entity\\AddressType::ADDRESS_TYPE_FINANCIAL") }}

            },
            success: function (response) {
                $('textarea[name="address"]').val(response.address);
                $('input[name="zipCode"]').val(response.zipCode);
                $('input[name="city"]').val(response.city);
                $('select[name="country"]').val(response.country);
            },
            error: function (xhr) {
                console.log('Error!  Status = ' + xhr.status);
            }
        });
    });
</script>
