{% do headTitle().append(translate("txt-parent-financial-list")) %}

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{% set filter = form.get('filter') %}




<div class="row">

    <div class="col-md-9">

        <h1>{{ translate("txt-parent-no-financial-list") }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p>{{ translate("txt-parent-no-financial-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <div class="input-group-append input-group-btn">
                        {{ formelement(form.get('submit')) }}
                    </div>
                </div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/parent/financial/no-financial', 'criteria': 'name', 'text': translate('txt-name')} %}</a></th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/parent/financial/no-financial', 'criteria': 'country', 'text': translate('txt-country')} %}</a></th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/parent/financial/no-financial', 'criteria': 'type', 'text': translate('txt-type')} %}</a></th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/parent/financial/no-financial', 'criteria': 'status', 'text': translate('txt-status')} %}</a></th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                {% for parent in paginator.getCurrentItems() %}
                    <tr>
                        <td>{{ parentLink(parent, 'view', 'parent') }}</td>
                        <td>{{ parent.organisation.country.iso3 }}</td>
                        <td>{{ parent.type }}</td>
                        <td>{{ parent.status }}</td>
                        <td>{{ parentFinancialLink(null, 'new','icon', parent) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'application/partial/pagination-control' %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-organisation-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="well well-sm">
            <fieldset>
                {{ ztbformelement(filter.get('type'), true) }}

                {{ ztbformelement(form.get('submit')) }}
                {{ ztbformelement(form.get('clear')) }}
            </fieldset>
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}
