{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-parent-type")) %}

<h1>{{ translate("txt-new-parent-type") }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set type = form.get('organisation_entity_parent_type') %}

{{ lbs5formelement(type.get('id')) }}
{{ lbs5formelement(type.get('type')) }}
{{ lbs5formelement(type.get('description')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('csrf')) }}
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

