{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-add-parent-organisation-%s-to-project")|format(organisation)) %}

<h1 class="display-4">{{ translate("txt-add-partner-organisation-%s-to-project")|format(organisation) }} </h1>


{% do form.prepare() %}
{% do form.setAttribute('class','form-horizontal') %}
{% do form.setAttribute('action','') %}

{{ form().openTag(form)|raw }}

<div class="form-group row">
    <label class="col-md-3 form-control-label control-label">{{ translate("txt-partner") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ parentLink(organisation.parent,'view', 'parent') }}</p>
    </div>
</div>

<div class="form-group row">
    <label class="col-md-3 form-control-label control-label">{{ translate("txt-organisation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ parentOrganisationLink(organisation,'view', 'organisation') }}</p>
    </div>
</div>

{{ ztbformelement(form.get('project')) }}
{{ ztbformelement(form.get('branch')) }}
{{ ztbformelement(form.get('contact')) }}


<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
