{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-view-parent-organisation-%s")|format(organisation)) %}

<h1>{{ translate("txt-view-parent-organisation-%s")|format(organisation) }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-parent-name") }}</dt>
    <dd>{{ parentLink(organisation.parent,'view','parent') }}</dd>
    <dt>{{ translate("txt-type") }}</dt>
    <dd>{{ parentTypeLink(organisation.parent.type,'view','type') }}</dd>
    <dt>{{ translate("txt-organisation") }}</dt>
    <dd>{{ organisationLink(organisation.organisation,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-representative") }}</dt>
    <dd>{{ contactLink(organisation.contact,'view-admin','name') }}</dd>

</dl>

{% if organisation.affiliation.count() > 0 %}
    <table class="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th>{{ translate("txt-parent-organisation") }}</th>
            <th>{{ translate("txt-project") }}</th>
            <th>{{ translate("txt-name-in-project") }}</th>
            <th>{{ translate("txt-program-call") }}</th>
            <th>{{ translate("txt-representative") }}</th>
            <th>{{ translate("txt-amount-of-versions") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for affiliation in organisation.affiliation %}
            <tr>
                <td>{{ affiliationLink(affiliation,'view-admin','parent-organisation') }}</td>
                <td>{{ projectLink(affiliation.project,'view-admin', 'project') }}</td>
                <td>{% for name in affiliation.parentOrganisation.organisation.names if name.project == affiliation.project %}{{ name.name }}{% endfor %}</td>
                <td>{{ callLink(affiliation.project.call,'view-admin', 'name') }}</td>
                <td>{{ contactLink(affiliation.contact,'view-admin', 'name') }}</td>
                <td>{{ affiliation.version.count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-parent-organisation-%s-is-not-active-in-a-project")|format(organisation))|raw }}
{% endif %}

{{ parentOrganisationLink(organisation, 'edit','button') }} {{ parentOrganisationLink(organisation, 'add-affiliation','button') }}