{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-view-parent-organisation-%s")|format(parentOrganisation)) %}

<h1>{{ translate("txt-view-parent-organisation-%s")|format(parentOrganisation) }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-parent-name") }}</dt>
    <dd>{{ parentLink(parentOrganisation.parent,'view','parent') }}</dd>
    <dt>{{ translate("txt-parent-type") }}</dt>
    <dd>{{ translate(parentOrganisation.parent.getMemberType(true)) }}</dd>
    <dt>{{ translate("txt-organisation") }}</dt>
    <dd>{{ organisationLink(parentOrganisation.organisation,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-representative") }}</dt>
    <dd>{{ contactLink(parentOrganisation.contact,'view-admin','name') }}</dd>

</dl>

{% if parentOrganisation.affiliation.count() > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-parent") }}</th>
            <th>{{ translate("txt-parent-organisation") }}</th>
            <th>{{ translate("txt-project") }}</th>
            <th>{{ translate("txt-name-in-project") }}</th>
            <th>{{ translate("txt-program-call") }}</th>
            <th>{{ translate("txt-representative") }}</th>
            <th>{{ translate("txt-amount-of-versions") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for affiliation in parentOrganisation.affiliation %}
            <tr>
                <td>{{ parentLink(affiliation.parentOrganisation.parent,'view','parent') }}</td>
                <td>{{ affiliationLink(affiliation,'view-admin','parent-organisation') }}</td>
                <td>{{ projectLink(affiliation.project,'view-admin', 'project') }}</td>
                <td>{% for name in affiliation.parentOrganisation.organisation.names if name.project == affiliation.project %}{{ name.name }}{% endfor %}</td>
                <td>{{ callLink(affiliation.project.call,'view-admin', 'name') }}</td>
                <td>{{ contactLink(affiliation.contact,'view-admin', 'name') }}</td>
                <td>{{ affiliation.version.count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-parent-organisation-%s-is-not-active-in-a-project")|format(organisation))|raw }}
{% endif %}

{{ parentOrganisationLink(parentOrganisation, 'edit','button') }} {{ parentOrganisationLink(parentOrganisation, 'add-affiliation','button') }} {{ parentOrganisationLink(parentOrganisation, 'merge','button') }}