{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-view-parent-type-%s")|format(type)) %}

<h1>{{ translate("txt-view-parent-type-%s")|format(type) }} {{ parentTypeLink(type, 'edit','button') }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-type") }}</dt>
    <dd>{{ type.type }}</dd>
    <dt>{{ translate("txt-description") }}</dt>
    <dd>{{ type.description }}</dd>
</dl>

{% if type.parent.count() > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-legal-name") }}</th>
            <th>{{ translate("txt-organisation") }}</th>
            <th>{{ translate("txt-representative") }}</th>
            <th>{{ translate("txt-parent-organisations") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for parent in type.parent %}
            <tr>
                <td>{{ parentLink(parent, 'view','parent') }}</td>
                <td>{{ organisationLink(parent.organisation,'view-admin','name') }}</td>
                <td>{{ contactLink(parent.contact,'view-admin','name') }}</td>
                <td>{{ parent.parentOrganisation.count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

