{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-pending-organisation-updates")) %}

<h1>{{ translate("txt-pending-organisation-updates") }}</h1>

<div class="row">
    <div class="col-md-12">
        <p class="lead">{{ translate("txt-pending-organisation-updates-explanation") }}</p>
    </div>
</div>

{% if pendingUpdates|length > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-no") }}</th>
            <th>{{ translate("txt-organisation") }}</th>
            <th>{{ translate("txt-country") }}</th>
            <th>{{ translate("txt-contact") }}</th>
            <th>{{ translate("txt-date-created") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="5"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for update in pendingUpdates %}
            <tr>
                <td><small class="text-muted">{{ loop.index }}</small></td>
                <td>{{ organisationUpdateLink(update, 'view-admin', 'name') }} ({{ update.organisation.type.type }})
                </td>
                <td>{{ update.organisation.country.iso3 }}</td>
                <td>{{ contactLink(update.contact, 'view-admin') }}</td>
                <td>{{ update.dateCreated|string_date }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% else %}
    {{ lbs5alert().info(translate("txt-no-organisation-updates-found"))|raw }}
{% endif %}

