{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-view-update-for-%s")|format(update.organisation)) %}

<h1>{{ translate("txt-current") }}</h1>

<div class="row">
    <div class="col-md-9">
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ organisationLink(update.organisation,'view-admin','name') }}</dd>
            <dt>{{ translate("txt-organisation-type") }}</dt>
            <dd>{{ organisationTypeLink(update.organisation.type,'view','description') }}</dd>
            <dt>{{ translate("txt-description") }}</dt>
            <dd>{{ update.organisation.description|raw }}</dd>

        </dl>
    </div>
    <div class="col-md-3">
        <img class="img-fluid" src="{{ organisationLogo(update.organisation, 350, constant("General\\ValueObject\\Image\\ImageDecoration::SHOW_RAW")) }}">
    </div>
</div>

<h1>{{ translate("txt-updated") }}</h1>

<div class="row">
    <div class="col-md-9">
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ organisationLink(update.organisation,'view-admin','name') }}</dd>
            <dt>{{ translate("txt-organisation-type") }}</dt>
            <dd>{{ organisationTypeLink(update.type,'view','description') }}</dd>
            <dt>{{ translate("txt-description") }}</dt>
            <dd>{{ update.description|default(update.organisation.description)|raw }}</dd>
        </dl>
    </div>
    <div class="col-md-3">
        {{ organisationUpdateLogo(update, 300) }}
    </div>
</div>

<hr>

{{ organisationUpdateLink(update, 'approve', 'button') }} {{ organisationUpdateLink(update, 'edit-admin', 'button') }}