{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-view-update-for-%s")|format(update.organisation)) %}

<h1>{{ update.organisation }}</h1>

{% set mainWeb = organisationService.findMainWeb(update.organisation) %}

<table class="table table-hover table-sm table-striped">
    <thead>
    <tr>
        <th></th>
        <th>{{ translate("txt-current") }}</th>
        <th>{{ translate("txt-updated") }}</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="3"></td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td>{{ translate("txt-name") }}</td>
        <td colspan="2">{{ organisationLink(update.organisation,'view-admin','name') }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-organisation-type") }}</td>
        <td>{{ organisationTypeLink(update.organisation.type,'view','description') }}</td>
        <td>{{ organisationTypeLink(update.type,'view','description') }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-description") }}</td>
        <td>{{ update.organisation.description|raw }}</td>
        <td>{{ update.description|raw }}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-main-website") }}</td>
        <td>{% if mainWeb.web %}<a href="{{ mainWeb.web }}">{{ mainWeb.web }}</a>{% endif %}</td>
        <td>{% if update.webSite %}<a href="{{ update.webSite }}">{{ update.webSite }}</a>{% endif %}</td>
    </tr>
    <tr>
        <td>{{ translate("txt-logo") }}</td>
        <td><img class="img-fluid"
                 src="{{ organisationLogo(update.organisation, 300, constant("General\\ValueObject\\Image\\ImageDecoration::SHOW_RAW")) }}">
        </td>
        <td>{{ organisationUpdateLogo(update, 300) }}</td>
    </tr>
    </tbody>
</table>

{{ organisationUpdateLink(update, 'approve', 'button') }} {{ organisationUpdateLink(update, 'edit-admin', 'button') }}