{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-board-organisation")) %}

<h1>{{ translate("txt-new-board-organisation") }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set board = form.get('organisation_entity_board') %}

{{ lbs5formelement(board.get('id')) }}
{{ lbs5formelement(board.get('dateSigned')) }}
{{ lbs5formelement(board.get('dateEnd')) }}
{{ organisationformelement(board.get('organisation')) }}
{{ lbs5formelement(board.get('cluster')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('csrf')) }}
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

