{% do headTitle().append(translate("txt-financial-organisation-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set filter = form.get('filter') %}

<div class="row">
    <div class="col-md-10">
        <h1>{{ translate("txt-financial-organisation-list") }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-financial-organisation-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <div class="input-group-append input-group-btn">
                        {{ formelement(form.get('submit')) }}
                    </div>
                </div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ translate("txt-id") }}</th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/list/financial', 'criteria': 'name', 'text': translate("txt-organisation")} %}</a></th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/list/financial', 'criteria': 'country', 'text': translate("txt-country")} %}</a></th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/list/financial', 'criteria': 'type', 'text': translate("txt-type")} %}</a></th>
                    <th>{{ translate("txt-vat-number") }}</th>
                    <th colspan="2">{{ translate("txt-vat-status") }}</th>
                    <th>{{ translate("txt-omit-contact") }}</th>
                    <th>{{ translate("txt-email") }}</th>
                    <th><abbr title="{{ translate("txt-require-purchase-order") }}">{{ translate("txt-po") }}</abbr></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="10"></td>
                </tr>
                </tfoot>
                <tbody>
                {% for financial in paginator.getCurrentItems() %}
                    <tr>
                        <td><small class="text-muted">{{ financial.id }}</small></td>
                        <td>{{ organisationLink(financial.organisation, 'financial-admin', 'name') }} {{ organisationLink(financial.organisation, 'edit-financial', 'icon') }}</td>
                        <td>{{ financial.organisation.country.iso3 }}</td>
                        <td>{{ financial.organisation.getType().type }}</td>
                        <td>{{ financial.vat }}</td>
                        <td id="vatStatus_{{ financial.id }}">{{ translate(financial.getVatStatusText()) }}
                            {% if financial.dateVat %}({{ financial.dateVat|string_date }}){% endif %}
                        <td><i class="fas fa-sync-alt checkVat cursor-pointer" rel="{{ financial.id }}"></i></td>
                        {# <td>{% for type in financial.vatType %}{{ type }}{% endfor %}</td> #}
                        <td>{{ translate(financial.getOmitContactText()) }}</td>
                        <td>{% if financial.getEmail() %}<i class="fas fa-check text-success"></i>{% endif %}</td>
                        <td>{% if financial.getRequiredPurchaseOrder() %}<i
                                    class="fas fa-check text-success"></i>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'application/partial/pagination-control' %}
        {% else %}
            {{ lbs5alert().info(translate("txt-no-organisation-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-2">
        {{ lbs5formelement(filter.get('type'), 'default') }}
        {{ lbs5formelement(filter.get('vatStatus'), 'default') }}
        {{ lbs5formelement(filter.get('omitContact'), 'default') }}
        {{ lbs5formelement(filter.get('requiredPurchaseOrder'), 'default') }}
        {{ lbs5formelement(filter.get('email'), 'default') }}

        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('clear')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    $(document).on('click', '.checkVat', function (e) {
        var $this = $(this);

        var $financialId = $this.attr('rel');

        $this.addClass('fa-spin');

        $.ajax({
            url: '{{ serverUrl() }}{{ url('organisation/json/check-vat') }}',
            type: 'post',
            dataType: 'json',
            data: {
                'financialId': $financialId,
            },
            success: function (response) {
                $("#vatStatus_" + $financialId).html(response.result);
                $this.removeClass('fa-spin');
            },
            error: function (xhr) {
                alert('Error! Did you enable adblock????? Status = ' + xhr.status);
            }
        });
    });
</script>


