<h3>{{ translate("txt-status-of-%s-extra-variable-contribution-for-%s-projects-due-by-%s-at-%s")|format(year, 'ECSEL',partner, "now"|date("d-m-Y")) }}</h3>

{% for project in projects %}
    {# Take the latest version to calculate the contribution of the affiliation#}
    {% set version = projectService.getLatestProjectVersion(project, null, null, false, false) %}

    <h4>{{ project.call }}
        : {{ projectLink(project,'view-community','name') }} {{ projectLink(project,'view-admin','icon') }}</h4>

    <table class="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th>{{ translate("txt-name-of-free-rider") }}</th>
            <th>{{ translate("txt-country") }}</th>
            <th><span class="pull-right">{{ translate("txt-maximum-eligible-funding") }}</span></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th colspan="2">{{ translate("txt-total-eligible-funding-by-free-riders-for-project") }}</th>
            <th>
                <span class="pull-right">{{ versionService.findTotalFundingVersionByFreeRidersInVersion(version)|parse_funding }}</span>
            </th>
        </tr>
        <tr>
            <th colspan="2">{{ translate("txt-total-eligible-funding-by-partner-%s")|format(partner) }}</th>
            <th>
                <span class="pull-right">{{ versionService.findTotalFundingVersionByPartnerAndVersion(partner, version)|parse_funding }}</span>
            </th>
        </tr>
        <tr>
            <th colspan="2">{{ translate("txt-total-eligible-funding-c-chambers-for-project") }}</th>
            <th>
                <span class="pull-right">{{ versionService.findTotalFundingVersionByCChambersInVersion(version)|parse_funding }}</span>
            </th>
        </tr>
        <tr>
            <th colspan="2">{{ translate("txt-extra-variable-contribution-for-project") }}</th>
            <th>
                <span class="pull-right">{{ partnerService.parseExtraVariableBalanceByPartnerAndVersion(partner, version)|parse_funding }}</span>
            </th>
        </tr>
        </tfoot>
        <tbody>
        {% for affiliation in affiliationService.findAffiliationByProjectAndWhichAndType(project, constant("Partner\\Service\\AffiliationService::WHICH_ONLY_ACTIVE"), constant("Partner\\Service\\AffiliationService::TYPE_FEE_RIDERS") ) %}
            <tr>
                <td>{{ affiliation.organisation.partner.legalName }}</td>
                <td>{{ affiliation.organisation.partner.organisation.country }}</td>
                <td>
                    <span class="pull-right">{{ versionService.findTotalFundingVersionByAffiliationAndVersion(affiliation, version)|parse_funding }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
{% endfor %}

<h3>{{ translate("txt-details-of-total-additional-invoice-to-be-expected-by-%s-half-year-%s")|format(period + 1, year) }}</h3>

<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>{{ translate("txt-project-name") }}</th>
        <th>{{ translate("txt-partner-name") }}</th>
        <th><span class="pull-right">{{ translate("txt-maximum-eligible-funding") }}</span></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th colspan="2">{{ translate("txt-total-extra-%s-contribution-in-year-%s")|format(partner, year) }}</th>
        <th>
            <span class="pull-right">{{ partnerService.parseTotalExtraVariableBalanceByPartner(partner)|parse_funding }}</span>
        </th>
    </tr>
    </tfoot>
    <tbody>
    {% for project in projects %}

        {# Take the latest version to calculate the contribution of the affiliation#}
        {% set version = projectService.getLatestProjectVersion(project, null, null, false, false) %}

        <tr>
            <td>{{ project }}</td>
            <td>{{ partner }}</td>
            <td>
                <span class="pull-right">{{ partnerService.parseExtraVariableBalanceByPartnerAndVersion(partner, version)|parse_funding }}</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<div class="well well-itea">
    <p>{{ translate("txt-year-%s-extra-variable-contribution-percentage-1.5-%%-max-eligible-funding-of-all-freeriders-3-number-of-memberships-as-of-date-%s-times-z")|format(year, "now"|date('d-m-Y')) }}

    <p>{{ translate("txt-z-share-of-contribution-is-total-elegible-funding-of-partner-%s-in-the-project-divided-by-sum-max-elegible-funding-by-c-chambers")|format(partner) }}

    <p>{{ translate("txt-number-of-memberships-as-of-date-%s-%s")|format("now"|date('d-m-Y'), invoiceFactor.member|length) }}

    <dl class="dl-horizontal">
        <dt>{{ translate("txt-membership-status") }}</dt>
        {% for member in invoiceFactor.member %}
            <dd>{{ member }}</dd>
        {% endfor %}
    </dl>
</div>