<h4>{{ translate("txt-project-participation-overview") }}</h4>

<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>{{ translate("txt-project") }}</th>
        <th>{{ translate("txt-partner-affiliation") }}</th>
        <th>{{ translate("txt-affiliation-max-eligible-funding") }}</th>
        <th>{{ translate("txt-%s-variable-contribution")|format(year) }}</th>
        <th>{{ translate("txt-correction")|format(year) }}</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th colspan="2" class="text-right">
            {{ translate("txt-total") }}</th>
        <th style="border-top: 2px solid black;">{{ partnerService.parseTotalFundedByPartner(partner, year, period)|parse_funding }}</th>
        <th style="border-top: 2px solid black;">{{ partnerService.parseContribution(partner, year, period)|parse_funding }}</th>
        <th style="border-top: 2px solid black;">{{ partnerService.parseBalance(partner, year, period)|parse_funding }}</th>
    </tr>
    </tfoot>
    <tbody>
    {% for affiliation in affiliations %}

        {# Take the latest version to calculate the contribution of the affiliation#}
        {% set latestVersion  = projectService.getLatestProjectVersion(affiliation.project, null, null, false, false) %}

        {% if latestVersion %}
            <tr>
                <td>{{ affiliation.project }}</td>
                <td>{{ affiliation.organisation }}</td>
                <td>{{ versionService.findTotalFundingVersionByAffiliationAndVersion(affiliation, latestVersion)|parse_funding }}</td>
                <td>{{ affiliationService.parseContribution(affiliation, latestVersion, year, period)|parse_funding }}</td>
                <td>{{ affiliationService.parseBalance(affiliation, latestVersion, year, period)|parse_funding }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<h4>{{ translate("txt-upcoming-invoice-of-%s-period-%s")|format(year,period) }}</h4>

<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>{{ translate("txt-period") }}</th>
        <th>{{ translate("txt-information") }}</th>
        <th>{{ translate("txt-amount") }}</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th colspan="2" class="text-right">
            {{ translate("txt-total-due-by-%s-variable-contribution-for-projects")|format(partner) }}</th>
        <th style="border-top: 2px solid black;">{{ partnerService.parseTotal(partner, year, period)|parse_funding }}</th>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td>{{ year }}-{{ period }}</td>
        <td>{{ translate("txt-variable-contribution-for-%s-projects")|format(year) }}</td>
        <td>{{ partnerService.parseContribution(partner, year, period)|parse_funding }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ translate("txt-correction") }}</td>
        <td>{{ partnerService.parseBalance(partner, year, period)|parse_funding }}</td>
    </tr>
    </tbody>
</table>


<h4>{{ translate("txt-already-sent-invoices-after-invoice-for-year-%s-period-%s")|format(year,period) }}</h4>

<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>{{ translate("txt-invoice-number") }}</th>
        <th>{{ translate("txt-period") }}</th>
        <th>{{ translate("txt-date") }}</th>
        <th>{{ translate("txt-amount-excluding-vat") }}</th>
        <th>{{ translate("txt-amount") }}</th>
        <th>{{ translate("txt-paid") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for partnerInvoice in parter.invoice if affiliationInvoice.year > year or (affiliationInvoice.year == year and  affiliationInvoice.period > period) %}
        {% if invoiceService.isSent(partnerInvoice.invoice) %}
            <tr>
                <td>{{ partnerInvoice.invoice.invoiceNr }} {{ invoiceLink(partnerInvoice.invoice,'download','icon') }}</td>
                <td>{{ partnerInvoice.year }}-{{ partnerInvoice.period }}H</td>
                <td>{{ partnerInvoice.invoice.dateSent|date("d-m-Y") }}</td>
                <td>{{ invoiceService.parseSumAmount(partnerInvoice.invoice)|parse_funding }}</td>
                <td>{{ invoiceService.parseTotal(partnerInvoice.invoice)|parse_funding }}</td>
                <td>{% if partnerInvoice.invoice.bookingDate %}{{ partnerInvoice.invoice.bookingDate|date("d-m-Y") }}{% endif %}</td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="6">{{ translate("txt-no-invoices-found") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="well well-itea">
    {{ translate("txt-year-%s-variable-contribution-percentage-%s-%%-3-years-number-of-memberships")|format(year,invoiceFactor.percentage * 100, invoiceFactor.amount) }}
    <br>
    {{ translate("txt-number-of-memberships-at-pab-decision-date-(november-%s)-%s")|format(year-1, invoiceFactor.amount) }}
</div>

