<h3>{{ translate("txt-status-of-%s-extra-variable-contribution-for-%s-projects-due-by-%s-at-%s")|format(year, 'ECSEL',parent, "now"|date("d-m-Y")) }}</h3>

{% for project in projects %}
    {# Take the latest version to calculate the contribution of the affiliation#}
    {% set version = projectService.getLatestApprovedProjectVersion(project) %}

    {% if version and parentService.hasExtraVariableBalanceByParentAndVersion(parent, version) %}
        <h4>{{ project.call }}
            : {{ projectLink(project,'view-community','name') }} {{ projectLink(project,'view-admin','icon') }}</h4>

        <table class="table table-hover table-striped table-sm">
            <thead>
            <tr>
                <th>{{ translate("txt-name-of-free-rider") }}</th>
                <th>{{ translate("txt-country") }}</th>
                <th>{{ translate("txt-type") }}</th>
                <th>{{ translate("txt-doas") }}</th>
                <th>{{ translate("txt-other-memberships-doa") }}</th>
                <th class="text-end">{{ translate("txt-maximum-eligible-funding") }}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th colspan="5">{{ translate("txt-total-eligible-funding-by-free-riders-for-project") }}</th>
                <th class="text-end">{{ versionService.findTotalFundingVersionByFreeRidersInVersion(version)|round_currency }}                </th>
            </tr>
            <tr>
                <th colspan="5">{{ translate("txt-total-eligible-funding-by-parent-%s")|format(parent) }}</th>
                <th class="text-end">{{ versionService.findTotalFundingVersionByParentAndVersion(parent, version)|round_currency }}</th>
            </tr>
            <tr>
                <th colspan="5">{{ translate("txt-total-eligible-funding-c-chambers-for-project") }}</th>
                <th class="text-end">{{ versionService.findTotalFundingVersionByCChambersInVersion(version)|round_currency }}</th>
            </tr>
            <tr>
                <th colspan="5">{{ translate("txt-extra-variable-contribution-for-project") }}</th>
                <th class="text-end">{{ parentService.parseExtraVariableBalanceByParentAndVersion(parent, version)|round_currency }}</th>
            </tr>
            </tfoot>
            <tbody>

            {% set activeFreeRiders = affiliationService.findAffiliationByProjectAndWhichAndCriterion(project, constant("Organisation\\Entity\\ParentEntity::CRITERION_FREE_RIDER"), constant("Affiliation\\Service\\AffiliationService::WHICH_ONLY_ACTIVE")) %}

            {% for affiliation in affiliationService.findAffiliationByProjectAndWhich(project, constant("Affiliation\\Service\\AffiliationService::WHICH_ONLY_ACTIVE") ) %}

                {% set totalFunding = versionService.findTotalFundingVersionByAffiliationAndVersion(affiliation, version) %}

                {% if totalFunding > 0 %}
                    <tr {% if affiliation not in activeFreeRiders %}class="table-danger"{% endif %}>
                        <td><span class="d-inline-block text-truncate"
                                  style="max-width: 400px;">{{ parentLink(affiliation.parentOrganisation.parent,'view','parent') }}</span>
                        </td>
                        <td>{{ affiliation.parentOrganisation.parent.organisation.country.iso3 }}</td>
                        <td>{{ translate(affiliation.parentOrganisation.parent.memberType(true)) }}</td>
                        <td>{% for doa in affiliation.parentOrganisation.parent.doa %}{{ doa }} {% endfor %}</td>
                        <td>
                            {% if affiliation.parentOrganisation.parent.artemisiaMemberType != constant("Organisation\\Entity\\ParentEntity::ARTEMISIA_MEMBER_TYPE_NO_MEMBER") %}A{% endif %}
                            {% if affiliation.parentOrganisation.parent.epossMemberType != constant("Organisation\\Entity\\ParentEntity::EPOSS_MEMBER_TYPE_NO_MEMBER") %}E{% endif %}

                        </td>
                        <td class="text-end">
                            {% if affiliation in activeFreeRiders %}
                                {{ versionService.findTotalFundingVersionByAffiliationAndVersion(affiliation, version)|round_currency }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <hr>
    {% endif %}
{% endfor %}

<h3>{{ translate("txt-details-of-total-additional-invoice-to-be-expected-by-second-half-year-%s")|format(year) }}</h3>

<table class="table table-hover table-striped table-sm">
    <thead>
    <tr>
        <th>{{ translate("txt-project-name") }}</th>
        <th>{{ translate("txt-parent-name") }}</th>
        <th>{{ translate("txt-parent-type") }}</th>
        <th>{{ translate("txt-parent-status") }}</th>
        <th class="text-end">{{ translate("txt-extra-variable-contribution-funding") }}</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th colspan="4">{{ translate("txt-total-extra-%s-contribution-in-program-%s-in-year-%s")|format(parent, program, year) }}</th>
        <th class="text-end">{{ parentService.parseTotalExtraVariableBalanceByParent(parent, program, year)|round_currency }}</th>
    </tr>
    </tfoot>
    <tbody>
    {% for project in projects %}

        {# Take the latest version to calculate the contribution of the affiliation#}
        {% set version = projectService.getLatestApprovedProjectVersion(project) %}

        {% if version and parentService.hasExtraVariableBalanceByParentAndVersion(parent, version) %}
            <tr>
                <td>{{ project }}</td>
                <td>{{ parent }}</td>
                <td>{{ parent.type }}</td>
                <td>{{ parent.status }}</td>
                <td class="text-end">
                    {{ parentService.parseExtraVariableBalanceByParentAndVersion(parent, version)|round_currency }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
