{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-parent-status")) %}

<h1>{{ translate("txt-edit-parent-status") }}</h1>

{% do form.prepare() %}
{% do form.setAttribute('class','form-horizontal') %}

{{ form().openTag(form)|raw }}

{% set status = form.get('organisation_entity_parent_status') %}

{{ ztbformelement(status.get('id')) }}
{{ ztbformelement(status.get('status')) }}
{{ ztbformelement(status.get('description')) }}

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

