{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set financialForm = form.get('organisation_entity_financial') %}

{{ lbs5formelement(financialForm.get('id')) }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-debtor-number") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ organisationService.parseDebtorNumber(organisation) }}</p>
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-credit-number") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ organisationService.parseCreditNumber(organisation) }}</p>
    </div>
</div>


{{ lbs5formelement(financialForm.get('vat')) }}
{{ lbs5formelement(financialForm.get('vatStatus')) }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-vat-status") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext"><span
                    id="vatStatus_{{ financial.id }}">{{ translate(financial.vatStatusText()) }}
                ({{ financial.dateVat|string_date }})</span>
            <i class="fas fa-sync-alt checkVat cursor-pointer" data-financial="{{ financial.id }}"></i>
    </div>
</div>

{{ lbs5formelement(form.get('vatType')) }}
{{ lbs5formelement(financialForm.get('omitContact')) }}
{{ lbs5formelement(financialForm.get('iban')) }}
{{ lbs5formelement(financialForm.get('bic')) }}
{{ lbs5formelement(financialForm.get('supplierNumber')) }}
{{ lbs5formelement(financialForm.get('requiredPurchaseOrder')) }}
{{ lbs5formelement(financialForm.get('sendOnlyInvoice')) }}
{{ lbs5formelement(financialForm.get('email')) }}
{{ formelement(form.get('csrf')) }}


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ lbs5formelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}
