{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set organisationForm = form.get('organisation_entity_organisation') %}

    {{ ztbformelement(organisationForm.get('organisation')) }}
    {{ ztbformelement(organisationForm.get('description').get('description')) }}
    {{ ztbformelement(organisationForm.get('type')) }}
    {{ ztbformelement(organisationForm.get('country')) }}

<div class="form-group row">
    <label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-current-logo") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static form-control-plaintext">{{ organisationLogo(organisation, 300, false) }}</p>
    </div>
</div>

{{ ztbformelement(form.get('file')) }}
{{ formelement(form.get('csrf')) }}


<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}
