{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set organisationForm = form.get('organisation_entity_organisation') %}

    {{ ztbformelement(organisationForm.get('organisation')) }}
    {{ ztbformelement(organisationForm.get('description').get('description')) }}
    {{ ztbformelement(organisationForm.get('type')) }}
    {{ ztbformelement(organisationForm.get('country')) }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-current-logo") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ organisationLogo(organisation, 300) }}</p>
    </div>
</div>

{{ ztbformelement(form.get('file')) }}
{{ formelement(form.get('csrf')) }}


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}


{% do headScript().appendFile("//cloud.tinymce.com/stable/tinymce.min.js?apiKey=ldq46yojrss1zuwb8q3962xgchritqxw8z0sxhivdmd0zbdk",'text/javascript') %}

<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        plugins: [
            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "save table contextmenu directionality emoticons template paste textcolor"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
        force_br_newlines: true,
        relative_urls: true,
        remove_script_host: false,
        document_base_url: "{{ serverUrl() }}",
        entity_encoding: "raw",
        height: 300
    });
</script>