{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set selectionForm = form.get('organisation_entity_selection') %}

    {{ lbs5formelement(selectionForm.get('id')) }}
    {{ lbs5formelement(selectionForm.get('selection')) }}
    {{ lbs5formelement(selectionForm.get('description')) }}
    {{ lbs5formelement(selectionForm.get('tag')) }}
    {{ contactformelement(selectionForm.get('contact')) }}

    {{ lbs5formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ lbs5formelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}
