{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set updateForm = form.get('organisation_entity_update') %}

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-organisation") }}</label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ update.organisation }}
            ({{ update.organisation.country }}) {{ organisationLink(update.organisation, 'view-admin', 'icon') }}
            <small class="form-text text-muted">{{ translate("txt-contact-the-office-if-you-want-to-update-the-organisation-name") }}</small>
        </p>

    </div>
</div>

{{ ztbformelement(updateForm.get('description')) }}
{{ ztbformelement(updateForm.get('type')) }}
{{ ztbformelement(updateForm.get('website')) }}

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-current-logo") }}</label>
    <div class="col-sm-9">
        {% if update.organisation.logo.isEmpty() %}
            <p class="form-control-plaintext">{{ translate("txt-no-organisation-logo-found") }}</p>
        {% else %}
            <p class="form-control-plaintext">{{ organisationLogo(update.organisation, 300) }}</p>
        {% endif %}
    </div>
</div>
{{ ztbformelement(form.get('file')) }}

{{ ztbformelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}

{% do headScript().appendFile("//cloud.tinymce.com/stable/tinymce.min.js?apiKey=ldq46yojrss1zuwb8q3962xgchritqxw8z0sxhivdmd0zbdk",'text/javascript') %}

<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        toolbar: "undo redo | bold italic",
        menubar: false,
        force_br_newlines: true,
        relative_urls: true,
        remove_script_host: false,
        document_base_url: "{{ serverUrl() }}",
        entity_encoding: "raw",
        height: 500
    });
</script>
