{% do headLink().appendStylesheet(
    '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
    ) %}


{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-parent")) %}

<h1>{{ translate("txt-edit-parent") }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-parent") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ parentLink(parent,'view','parent') }}</p>
    </div>
</div>

{% set parentForm = form.get('organisation_entity_oparent') %}

{{ ztbformelement(parentForm.get('id')) }}
{{ ztbformelement(parentForm.get('type')) }}

<div class="form-group row">
    <label class="col-sm-3 col-form-label">{{ translate("txt-program-doa") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{% for doa in parent.doa %}{{ parentDoaLink(doa,'view','name') }}{% if not loop.last %} &middot; {% endif %}{% else %}{{ translate("txt-no-doa-signed") }}{% endfor %}</p>
    </div>
</div>

{{ ztbformelement(parentForm.get('memberType')) }}
{{ ztbformelement(parentForm.get('epossMemberType')) }}
{{ ztbformelement(parentForm.get('artemisiaMemberType')) }}
{{ organisationformelement(parentForm.get('organisation')) }}
{{ contactformelement(parentForm.get('contact')) }}
{{ ztbformelement(parentForm.get('dateEnd')) }}
{{ ztbformelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}


<script type="text/javascript">
    $('input[type=date]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>
