{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-import-parents")) %}

<h1>{{ translate("txt-import-parents") }}</h1>

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

 {{ ztbformelement(form.get('file')) }}

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {% if handleImport.hasErrors() %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for error in handleImport.getErrors() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if handleImport.hasWarnings() %}
            <div class="alert alert-warning" role="alert">
                <ul>
                    {% for warning in handleImport.getWarnings() %}
                        <li>{{ warning }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>


</div>


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('upload')) }}
        {{ ztbformelement(form.get('import')) }}
    </div>
</div>

{% if  handleImport.getImportedParents()|length > 0 %}
    {{ ztbalert().info(translate("txt-%s-parents-imported")|format(handleImport.getImportedParents()|length))|raw }}
{% endif %}


    {% if  handleImport.getParents()|length > 0 %}
        <table class="table table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th></th>
                <th class="col-md-1">{{ translate("txt-title") }}</th>
                <th class="col-md-2">{{ translate("txt-firstname") }}</th>
                <th class="col-md-1">{{ translate("txt-middlename") }}</th>
                <th class="col-md-2">{{ translate("txt-lastname") }}</th>
                <th class="col-md-1">{{ translate("txt-gender") }}</th>
                <th class="col-md-1">{{ translate("txt-email") }}</th>
                <th class="col-md-2">{{ translate("txt-phone") }}</th>
                <th class="col-md-2">{{ translate("txt-organisation") }}</th>
                <th>{{ translate("txt-country") }}</th>
                <th class="col-md-2">{{ translate("txt-position") }}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="11">
                    <button class="btn btn-xs btn-info" id="check_all"
                            onclick="return false;">{{ translate("txt-check-all") }}</button>
                    <button class="btn btn-xs btn-info" id="check_none"
                            onclick="return false;">{{ translate("txt-check-none") }}</button>
                    <button class="btn btn-xs btn-info" id="check_inverse"
                            onclick="return false;">{{ translate("txt-check-inverse") }}</button>
                    <button class="btn btn-xs btn-info" id="check_known"
                            onclick="return false;">{{ translate("txt-check-known") }}</button>
                    <button class="btn btn-xs btn-info" id="check_unknown"
                            onclick="return false;">{{ translate("txt-check-unknown") }}</button>
                </td>
            </tr>
            </tfoot>
            <tbody>
            {% for parent in handleImport.getParents() %}
                <tr>
                    <td><input type="checkbox" name="key[]"
                               class="check_import  {% if parent.id %}known_parent{% endif %}"
                               value="{{ parent.key }}"></td>
                    <td>{{ parent.title }}</td>
                    <td>{{ parent.firstname }} {% if parent.id %}{{ parentLink(parent,'view-admin', 'icon') }}{% endif %}</td>
                    <td>{{ parent.middlename }}</td>
                    <td>{{ parent.lastname }}</td>
                    <td>{{ parent.gender }}</td>
                    <td>{{ parent.email }}</td>
                    <td>{% for phone in parent.phone %}{{ phone.phone }}{% endfor %}</td>
                    <td>{{ parent.parentOrganisation.organisation }}</td>
                    <td>{{ parent.parentOrganisation.organisation.country }}</td>
                    <td>{{ parent.position }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ ztbformelement(form.get('import')) }}
            </div>
        </div>


        {{ form().closeTag()|raw }}

    {% endif %}

<script type="text/javascript">
    $("#check_all").click(function () {
        $('.check_import').prop('checked', true);
    });

    $("#check_none").click(function () {
        $('.check_import').prop('checked', false);
    });

    $("#check_known").click(function () {
        $('.known_parent').prop('checked', true);
        $('.check_import:not(.known_parent)').prop('checked', false);
    });

    $("#check_unknown").click(function () {
        $('.known_parent').prop('checked', false);
        $('.check_import:not(.known_parent)').prop('checked', true);
    });

    $("#check_inverse").click(function () {
        $('input:checkbox:not(:disabled)').each(function () {
            if (!$(this).prop('checked')) {
                $(this).prop('checked', true);
            } else {
                $(this).prop('checked', false);
            }
        });
    });


</script>