{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-import-parents")) %}

<h1 class="display-4">{{ translate("txt-import-parents") }}</h1>

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

 {{ ztbformelement(form.get('file')) }}

<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {% if handleImport.hasErrors() %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for error in handleImport.getErrors() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if handleImport.hasWarnings() %}
            <div class="alert alert-warning" role="alert">
                <ul>
                    {% for warning in handleImport.getWarnings() %}
                        <li>{{ warning }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>


</div>


<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('upload')) }}
        {{ ztbformelement(form.get('import')) }}
    </div>
</div>

{% if  handleImport.getImportedParents()|length > 0 %}
    {{ ztbalert().info(translate("txt-%s-parents-imported")|format(handleImport.getImportedParents()|length))|raw }}
{% endif %}


    {% if  handleImport.getParents()|length > 0 %}
        <table class="table table-hover table-striped table-condensed table-sm">
            <thead>
            <tr>
                <th></th>
                <th>{{ translate("txt-parent") }}</th>
                <th>{{ translate("txt-country") }}</th>
                <th>{{ translate("txt-status") }}</th>
                <th>{{ translate("txt-type") }}</th>
                <th>{{ translate("txt-vat-number") }}</th>
                <th>{{ translate("txt-financial-contact") }}</th>
                <th>{{ translate("txt-email") }}</th>
                <th>{{ translate("txt-address") }}</th>
                <th>{{ translate("txt-zip") }}</th>
                <th>{{ translate("txt-city") }}</th>
                <th>{{ translate("txt-country") }}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="12">
                    <button class="btn btn-xs btn-info" id="check_all"
                            onclick="return false;">{{ translate("txt-check-all") }}</button>
                    <button class="btn btn-xs btn-info" id="check_none"
                            onclick="return false;">{{ translate("txt-check-none") }}</button>
                    <button class="btn btn-xs btn-info" id="check_inverse"
                            onclick="return false;">{{ translate("txt-check-inverse") }}</button>
                    <button class="btn btn-xs btn-info" id="check_known"
                            onclick="return false;">{{ translate("txt-check-known") }}</button>
                    <button class="btn btn-xs btn-info" id="check_unknown"
                            onclick="return false;">{{ translate("txt-check-unknown") }}</button>
                </td>
            </tr>
            </tfoot>
            <tbody>
            {% for key, parent in handleImport.getParents() %}
                <tr>
                    <td><input type="checkbox" name="key[]"
                               class="check_import  {% if parent.id %}known_parent{% endif %}"
                               value="{{ key }}"></td>
                    <td>{{ parent.organisation }} {% if parent.id %}{{ parentLink(parent,'view', 'icon') }}{% endif %}</td>
                    <td>{{ parent.organisation.country.iso3 }} </td>
                    <td>{{ parent.status }}</td>
                    <td>{{ parent.type }}</td>
                    <td>{{ parent.financial.organisation.financial.vat }} {% if parent.financial.organisation.financial.id %}known{% endif %}</td>
                    <td>{{ parent.financial.contact.displayName }}</td>
                    <td>{{ parent.financial.contact.email }} {% if parent.financial.contact.id %}{{ contactLink(parent.financial.contact,'view-admin', 'icon') }}{% endif %}</td>
                    <td>{% for address in parent.financial.contact.address %}{{ address.address }}{% endfor %}</td>
                    <td>{% for address in parent.financial.contact.address %}{{ address.zipCode }}{% endfor %}</td>
                    <td>{% for address in parent.financial.contact.address %}{{ address.city }}{% endfor %}</td>
                    <td>{% for address in parent.financial.contact.address %}{{ address.country.iso3 }}{% endfor %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="form-group row">
            <div class="offset-md-3 col-sm-offset-3 col-sm-9">
                {{ ztbformelement(form.get('import')) }}
            </div>
        </div>


        {{ form().closeTag()|raw }}

    {% endif %}

<script type="text/javascript">
    $("#check_all").click(function () {
        $('.check_import').prop('checked', true);
    });

    $("#check_none").click(function () {
        $('.check_import').prop('checked', false);
    });

    $("#check_known").click(function () {
        $('.known_parent').prop('checked', true);
        $('.check_import:not(.known_parent)').prop('checked', false);
    });

    $("#check_unknown").click(function () {
        $('.known_parent').prop('checked', false);
        $('.check_import:not(.known_parent)').prop('checked', true);
    });

    $("#check_inverse").click(function () {
        $('input:checkbox:not(:disabled)').each(function () {
            if (!$(this).prop('checked')) {
                $(this).prop('checked', true);
            } else {
                $(this).prop('checked', false);
            }
        });
    });


</script>