{% do headTitle().append(translate("txt-parent-list")) %}

{{ form().closeTag()|raw }}

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{% set filter = form.get('filter') %}


<input type="hidden" name="filter[order]" value="{{ order }}">
<input type="hidden" name="filter[direction]" value="{{ direction }}">

<div class="row">

    <div class="col-md-10">

        <h1 class="display-4">{{ translate("txt-parent-list") }} {{ parentLink(null,'new', 'button') }} {{ parentLink(null,'import-parent', 'button') }} {{ parentLink(null,'import-project', 'button') }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-parent-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <span class="input-group-btn">{{ formelement(form.get('submit')) }}</span></div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-condensed table-sm">
                <thead>
                <tr>
                    <th>{% include 'organisation/partial/sortable-table-header' with {'route': 'zfcadmin/parent/list', 'criteria': 'name', 'text': translate('txt-name')} %}</a></th>
                    <th>{% include 'organisation/partial/sortable-table-header' with {'route': 'zfcadmin/parent/list', 'criteria': 'country', 'text': translate('txt-country')} %}</a></th>
                    <th>{% include 'organisation/partial/sortable-table-header' with {'route': 'zfcadmin/parent/list', 'criteria': 'type', 'text': translate('txt-type')} %}</a></th>
                    <th>{{ translate('txt-member') }}</th>
                    <th>{{ translate("txt-organisation") }}</th>
                    <th>{{ translate("txt-actions") }}</th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                {% for parent in paginator.getCurrentItems() %}
                    <tr>
                        <td>{{ parentLink(parent, 'view', 'parent') }}</td>
                        <td>{{ countryLink(parent.organisation.country,'view-admin','iso3') }}</td>
                        <td>{{ parentTypeLink(parent.type,'view', 'type') }}</td>
                        <td>{{ translate(parent.getMemberType(true)) }}</td>
                        <td>{{ parent.parentOrganisation.count() }}</td>
                        <td>{{ parentLink(parent, 'edit', 'icon') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'organisation/partial/pagination-control' %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-parent-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-2">
        <div class="well well-sm">
            <fieldset>
                {{ ztbformelement(filter.get('memberType')) }}
                {{ ztbformelement(filter.get('type')) }}

                {{ ztbformelement(filter.get('artemisiaMemberType')) }}
                {{ ztbformelement(filter.get('epossMemberType')) }}
                {{ ztbformelement(filter.get('program')) }}

                <div class="form-group row">
                    {{ ztbformelement(form.get('submit')) }}
                    {{ ztbformelement(form.get('clear')) }}
                </div>
            </fieldset>
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}
