{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-view-parent-%s")|format(parent)) %}

<h1>{{ translate("txt-view-parent-%s")|format(parent) }}</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-organisation") }}</dt>
    <dd>{{ organisationLink(parent.organisation,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-type") }}</dt>
    <dd>{{ parentTypeLink(parent.type,'view','type') }}
        ({{ translate("txt-last-update-%s")|format(parent.dateparentTypeUpdate|date("d-m-Y")) }})
    </dd>
    <dt>{{ translate("txt-status") }}</dt>
    <dd>{{ parent.status }}</dd>

    <dt>{{ translate("txt-representative") }}</dt>
    <dd>{{ contactLink(parent.contact,'view-admin','name') }}</dd>
    <dt>{{ translate("txt-eposs-member-type") }}</dt>
    <dd>{{ translate(parent.getEpossMemberType(true)) }}</dd>
    <dt>{{ translate("txt-artemisia-member-type") }}</dt>
    <dd>{{ translate(parent.getArtemisiaMemberType(true)) }}</dd>
    <dt>{{ translate("txt-invoice-factor") }}</dt>
    <dd>{{ invoiceFactor }}</dd>
</dl>


{{ parentLink(parent, 'edit','button') }}

<h3>{{ translate("txt-parent-organisations") }}</h3>

{% if parent.parentOrganisation.count() > 0 %}
    <table class="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th>{{ translate("txt-parent-organisation") }}</th>
            <th>{{ translate("txt-parent") }}</th>
            <th>{{ translate("txt-representative") }}</th>
            <th>{{ translate("txt-projects") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for organisation in parent.parentOrganisation %}
            <tr>
                <td>{{ parentOrganisationLink(organisation,'view','organisation') }} {{ parentOrganisationLink(organisation,'edit','icon') }}</td>
                <td>{{ parentLink(parent, 'view','parent') }}</td>
                <td>{{ contactLink(organisation.contact,'view-admin','name') }}</td>
                <td>{{ organisation.affiliation.count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-this-parent-%s-has-no-organisations")|format(parent))|raw }}
{% endif %}

 {{ parentLink(parent, 'add-organisation','button') }}

<h3>{{ translate("txt-parent-doa") }}</h3>

{% if parent.doa.count() > 0 %}
    <table class="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th>{{ translate("txt-doa") }}</th>
            <th>{{ translate("txt-contact") }}</th>
            <th>{{ translate("txt-date-created") }}</th>
            <th>{{ translate("txt-date-signed") }}</th>
            <th>{{ translate("txt-date-approved") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for doa in parent.doa %}
            <tr>
                <td>{{ parentDoaLink(doa,'view','name') }} {{ parentDoaLink(doa,'download','icon') }} {{ parentDoaLink(doa,'edit','icon') }}</td>
                <td>{{ contactLink(doa.contact,'view-admin','name') }}</td>
                <td>{{ doa.dateCreated|string_date }}</td>
                <td>{{ doa.dateSigned|string_date }}</td>
                <td>{{ doa.dateApproved|string_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-this-parent-%s-has-no-doa")|format(parent))|raw }}
{% endif %}

{{ parentDoaLink(null, 'upload','button', parent) }}


<h3>{{ translate("txt-financial-information") }}</h3>
{% if parent.financial %}
    <dl class="dl-horizontal">
        <dt>{{ translate("txt-billing-organisation") }}</dt>
        <dd>{{ organisationLink(parent.financial.organisation,'view-admin','name') }}</dd>
        <dt>{{ translate("txt-country") }}</dt>
        <dd>{{ countryLink(parent.financial.organisation.country,'view-admin', 'name') }}</dd>
        <dt>{{ translate("txt-financial-contact") }}</dt>
        <dd>{{ contactLink(parent.financial.contact, 'view-admin','name') }}</dd>


        <dt>{{ translate("txt-address-label") }}</dt>
        <dd>{{ organisationService.parseOrganisationWithBranch(parent.financial.branch, parent.financial.organisation) }}</dd>

        {% if parent.financial.organisation.financial.omitContact == constant("Organisation\\Entity\\Financial::NO_OMIT_CONTACT") %}
            <dd>{{ contactService.parseAttention(parent.financial.contact) }} {{ parent.financial.contact.parseFullName() }}</dd>
        {% endif %}

        {% if contact.department %}
            <dd>{{ contact.department }}</dd>
        {% endif %}

        {% set financialAddress = contactService.getFinancialAddress(parent.financial.contact) %}
        <dd>{{ financialAddress.address }}</dd>
        <dd>{{ financialAddress.zipcode }} {{ financialAddress.city }}</dd>
        <dd>{{ financialAddress.country|upper }}</dd>

        <dt>{{ translate('txt-vat-number') }}</dt>
        {% if parent.organisation.financial %}
            <dd>{{ parent.organisation.financial.vat }}</dd>
        {% else %}
            <dd>{{ translate("txt-no-finanical-organisation-for-%s")|format(organisation) }}</dd>
        {% endif %}


        <dt>{{ translate("txt-preferred-delivery") }}</dt>
        {% if parent.organisation.financial.email == constant("Organisation\\Entity\\Financial::EMAIL_DELIVERY") %}
            <dd>{{ translate("txt-by-email-to-%s")|format(contact.email) }}</dd>
        {% else %}
            <dd>{{ translate("txt-by-postal-mail") }}</dd>
        {% endif %}
    </dl>
{% else %}
    {{ ztbalert().info(translate("txt-no-financial-information-known-for-%s")|format(parent))|raw }}
{% endif %}
{{ parentLink(parent, 'edit-financial','button') }}