{% do headTitle().append(translate("txt-upload-parent-doa-title")) %}

<h1>{{ translate("txt-upload-doa-for-parent-%s")|
    format(parent)|raw }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-parent") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ parentLink(parent, 'view', 'parent') }}</p>
    </div>
</div>


{{ ztbformelement(form.get('dateSigned')) }}
{{ ztbformelement(form.get('dateApproved')) }}
{{ ztbformelement(form.get('program')) }}
{{ contactformelement(form.get('contact')) }}

{{ ztbformelement(form.get('file')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('csrf')) }}
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}