<div class="row">
    <div class="col-md-8">
        <h2>{{ translate("txt-general") }}</h2>

        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ organisation.organisation }}</dd>
            <dt>{{ translate("txt-description") }}</dt>
            <dd>{{ organisation.description|raw }}</dd>
            <dt>{{ translate("txt-organisation-type") }}</dt>
            <dd>{{ organisation.type }}</dd>
            <dt>{{ translate("txt-country") }}</dt>
            <dd>{{ organisation.country }}</dd>
            <dt>{{ translate("txt-contacts") }}</dt>
            <dd>{{ organisationService.getContactCount(organisation, constant("Contact\\Service\\ContactService::WHICH_ONLY_ACTIVE")) }}
                (+{{ translate("txt-%s-expired")|format(organisationService.getContactCount(organisation, constant("Contact\\Service\\ContactService::WHICH_ONLY_EXPIRED"))) }}
                )
            </dd>
            <dt>{{ translate("txt-projects") }}</dt>
            <dd>{{ organisationService.getAffiliationCount(organisation, constant("Affiliation\\Service\\AffiliationService::WHICH_ONLY_ACTIVE")) }}</dd>
            <dt>{{ translate("txt-websites") }}</dt>
            {% for web in organisation.web %}
                <dd><a href="{{ web.web }}">{{ web.web }}</a></dd>
            {% else %}
                <dd>{{ translate("txt-no-website-known") }}</dd>
            {% endfor %}

            {% if organisation.getDateCreated() %}
                <dt>{{ translate("txt-date-created") }}</dt>
                <dd>{{ organisation.getDateCreated()|string_date }}</dd>
            {% endif %}
            {% if organisation.getDateUpdated() %}
                <dt>{{ translate("txt-last-update") }}</dt>
                <dd>{{ organisation.getDateUpdated()|string_date }}</dd>
            {% endif %}
        </dl>

        {{ organisationLink(organisation,'edit','button') }}
    </div>
    {% if not organisation.logo.isEmpty() %}
        <div class="col-md-4">
            <div class="thumbnail">{{ organisationLogo(organisation,'view') }}</div>
        </div>
    {% endif %}
</div>


