<h2>{{ translate("txt-general") }}</h2>

<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ organisation.organisation }} {{ organisationUpdateNotification(organisation) }}</dd>
            <dt>{{ translate("txt-organisation-on-public-website") }}</dt>
            <dd>{{ organisationLink(organisation,'view','name') }}</dd>
            <dt>{{ translate("txt-description") }}</dt>
            <dd>{{ organisation.description|default(translate("txt-not-provided"))|raw }}</dd>
            <dt>{{ translate("txt-organisation-type") }}</dt>
            <dd>{{ organisationTypeLink(organisation.type,'view','description') }}</dd>
            <dt>{{ translate("txt-country") }}</dt>
            <dd>{{ organisation.country }}</dd>
            <dt>{{ translate("txt-contacts") }}</dt>
            <dd>{{ organisationService.getContactCount(organisation, constant("Contact\\Service\\ContactService::WHICH_ONLY_ACTIVE")) }}
                (+
                {{ translate("txt-%s-expired")|format(organisationService.getContactCount(organisation, constant("Contact\\Service\\ContactService::WHICH_ONLY_EXPIRED"))) }})
            </dd>
            <dt>{{ translate("txt-projects") }}</dt>
            <dd>{{ organisationService.getAffiliationCount(organisation, constant("Affiliation\\Service\\AffiliationService::WHICH_ONLY_ACTIVE")) }}</dd>
            <dt>{{ translate("txt-websites") }} {{ organisationLink(organisation, 'manage-web', 'icon') }}</dt>
            {% for web in organisation.web %}
                <dd><a href="{{ web.web }}">{{ web.web }}</a> {% if web.isMain %}<i class="fa fa-help fa-thumb-tack"
                                                                                    title="{{ translate("txt-website-is-main") }}"></i>{% endif %}
                </dd>
            {% else %}
                <dd>{{ translate("txt-no-website-known") }}</dd>
            {% endfor %}

            {% if organisation.getDateCreated() %}
                <dt>{{ translate("txt-date-created") }}</dt>
                <dd>{{ organisation.getDateCreated()|string_date }}</dd>
            {% endif %}
            {% if organisation.getDateUpdated() %}
                <dt>{{ translate("txt-last-update") }}</dt>
                <dd>{{ organisation.getDateUpdated()|string_date }}</dd>
            {% endif %}
        </dl>

        {{ organisationLink(organisation,'edit','button') }}
    </div>
    {% if not organisation.logo.isEmpty() %}
        <div class="col-md-4">
            {{ organisationLogo(organisation, 300, false) }}
        </div>
    {% endif %}
</div>


