{{ form().closeTag()|raw }}

{% do invoiceFilter.prepare() %}

{{ form().openTag(invoiceFilter)|raw }}

{% set filter = invoiceFilter.get('filter') %}


<input type="hidden" name="filter[order]" value="{{ order }}">
<input type="hidden" name="filter[direction]" value="{{ direction }}">

<div class="row">

    <div class="col-md-9">

        <h2>{{ translate("txt-invoices") }}</h2>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-invoice-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <span class="input-group-btn">{{ formelement(invoiceFilter.get('submit')) }}</span></div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-condensed table-sm">
                <thead>
                <tr>
                    <th>{% include 'organisation/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/view', 'fragment':'invoice', 'id': organisation.id, 'criteria': 'number', 'text': translate('txt-number')} %}</a></th>
                    <th>{% include 'organisation/partial/sortable-table-header' with {'route': 'zfcadmin/organisation/view', 'fragment':'invoice', 'id': organisation.id, 'criteria': 'date', 'text': translate('txt-date')} %}</a></th>
                    <th>{% include 'organisation/partial/sortable-table-header'  with {'route': 'zfcadmin/organisation/view', 'fragment':'invoice', 'id': organisation.id, 'criteria': 'organisation', 'text': translate('txt-organisation')} %}</a></th>
                    <th>{{ translate("txt-contact") }}</th>
                    <th>{{ translate("txt-period") }}</th>
                    <th>{{ translate("txt-type") }}</th>
                    <th>{{ translate("txt-reference") }}</th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                {% for invoice in paginator.getCurrentItems() %}
                    <tr>
                        <td>
                            {{ invoiceLink(invoice, 'view', 'invoice') }}
                        </td>
                        <td>{{ invoice.dateInvoice|string_date }}</td>
                        <td>{{ organisationLink(invoice.organisation, 'view-admin', 'name') }}</td>
                        <td>{{ invoice.contact.displayName }}</td>
                        <td>{{ invoice.affiliationInvoice.year }}-{{ invoice.affiliationInvoice.period }}</td>
                        <td>{{ translate(invoice.getType(true)) }}</td>
                        <td></td>
                        <td>{{ invoiceLink(invoice, 'edit', 'icon') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'invoice/partial/pagination-control' %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-invoice-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="well well-sm">
            <fieldset>
                {{ ztbformelement(filter.get('type')) }}

                <div class="form-group">
                    {{ ztbformelement(invoiceFilter.get('submit')) }}
                    {{ ztbformelement(invoiceFilter.get('clear')) }}
                </div>
            </fieldset>
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}
