<h2>{{ translate("txt-parent-information") }}</h2>

<h3>{{ translate("txt-parent-status") }}</h3>
{% if organisation.parent %}
    <dl class="dl-horizontal">
        <dt>{{ translate("txt-parent") }}</dt>
        <dd>{{ parentLink(organisation.parent, 'view','parent') }} {{ parentLink(organisation.parent, 'edit','icon') }}</dd>
        <dt>{{ translate("txt-parent-type") }}</dt>
        <dd>{{ translate(organisation.parent.getMemberType(true)) }}</dd>
        <dt>{{ translate("txt-parent-representative") }}</dt>
        <dd>{{ contactLink(organisation.parent.contact, 'view-admin','name') }}</dd>
        <dt>{{ translate("txt-date-start") }}</dt>
        <dd>{{ organisation.parent.dateCreated|string_date }}</dd>
        <dt>{{ translate("txt-last-update") }}</dt>
        <dd>{{ organisation.parent.dateUpdated|string_date }}</dd>
    </dl>
{% else %}
    {{ ztbalert().info(translate("txt-organisation-%s-is-no-parent")|format(organisation))|raw }}

    {{ parentLink(null,'create-from-organisation','button',organisation) }}
{% endif %}

<h3>{{ translate("txt-has-parent") }}</h3>

{% if organisation.parentOrganisation %}
    <dl class="dl-horizontal">
        <dt>{{ translate("txt-parent") }}</dt>
        <dd>{{ parentLink(organisation.parentOrganisation.parent, 'view','parent') }} {{ parentLink(organisation.parentOrganisation.parent, 'edit','icon') }}</dd>
        <dt>{{ translate("txt-parent-type") }}</dt>
        <dd>{{ parentTypeLink(organisation.parentOrganisation.parent.type, 'view','type') }}</dd>
        <dt>{{ translate("txt-parent-representative") }}</dt>
        <dd>{{ contactLink(organisation.parentOrganisation.parent.contact, 'view-admin','name') }}</dd>
        <dt>{{ translate("txt-date-start") }}</dt>
        <dd>{{ organisation.parentOrganisation.parent.dateCreated|string_date }}</dd>
        <dt>{{ translate("txt-last-update") }}</dt>
        <dd>{{ organisation.parentOrganisation.parent.dateUpdated|string_date }}</dd>
    </dl>
{% else %}
    {{ ztbalert().info(translate("txt-organisation-%s-is-has-no-parent")|format(organisation))|raw }}
{% endif %}
