<h2>{{ translate("txt-partner") }}</h2>

{% if organisation.partner %}
    <dl class="dl-horizontal">
        <dt>{{ translate("txt-partner") }}</dt>
        <dd>{{ partnerLink(organisation.partner, 'view','partner') }} {{ partnerLink(organisation.partner, 'edit','icon') }}</dd>
        <dt>{{ translate("txt-partner-type") }}</dt>
        <dd>{{ partnerTypeLink(organisation.partner.type, 'view','type') }}</dd>
        <dt>{{ translate("txt-partner-representative") }}</dt>
        <dd>{{ contactLink(organisation.partner.contact, 'view-admin','name') }}</dd>
        <dt>{{ translate("txt-date-start") }}</dt>
        <dd>{{ organisation.partner.dateCreated|string_date }}</dd>
        <dt>{{ translate("txt-last-update") }}</dt>
        <dd>{{ organisation.partner.lastUpdate|string_date }}</dd>
    </dl>
{% else %}
    {{ ztbalert().info(translate("txt-organisation-%s-is-no-partner")|format(organisation))|raw }}

    {{ partnerLink(null,'create-from-organisation','button',organisation) }}
{% endif %}

